/* Contenitore principale */
body > div {
    display: flex;
    flex-direction: column; /* Layout a colonna */
    width: 100%; /* Larghezza del contenitore principale */
    background-color: white; /* opzionale */
    align-items: stretch; /* Gli elementi figli occupano tutta la larghezza */
}

/* Sezione con il testo */
body > div > div:first-child {
    background-color: green; 
    color: white;
    padding: 10px;
    text-align: center; /* Centra il testo */
    font-size: 1em; /* Dimensione del testo */
}

/* Sezione con i nomi */
body > div > nav {
    display: flex;
    flex-direction: row; /* Disposizione orizzontale dei div interni */
    justify-content: space-around;
    align-items: center; /* Allineamento verticale al centro */
    background-color: white; /* Sfondo opzionale */
    padding: 10px; /* Spaziatura interna */
}

/* Stile dei singoli nomi */
body > div > nav > div {
    border: 2px solid green; /* Bordo dei pulsanti */
    border-radius: 10px; /* Arrotondamento degli angoli */
    padding: 10px 20px; /* top-bottom, right-left */
    color: green;
    font-size: 1rem;
    text-align: center; /* Centra il testo nei pulsanti */
    cursor: pointer; /* Cambia il cursore a mano - non richiesto */
    flex: 1; /* Ogni pulsante occupa lo stesso spazio */
    max-width: 33%; /* Imposta una larghezza massima -> uguale per tutti e in modo da occupare equamente lo spazio*/
    margin: 0 1%; /* Spazio tra i pulsanti (top-bottom, right-left) */
}

/* Riordinamento giocatori */
body > div > nav > div:first-child {
    order: 3;
}
body > div > nav > div:nth-child(2) {
    order: 2;
}
body > div > nav > div:last-child {
    order: 1;
}